{% load static %}
{% load bootstrap5 %}
<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    <title>Sigma</title>
</head>
<body>
{% include 'menu.html' %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4 color">Farmácia</h1>
        <img src="{% static 'images/nomeVetorizado.png' %}" alt="nome">
    </div>
</div>
</body>
</html>
