{% load bootstrap5 %}
{% load static %}
<!doctype html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    <title>Login</title>
</head>

<body>
{% include 'menu.html' %}
<div class="container" style="max-width:400px;
     border:solid 1px #ccc;
     padding:2rem; margin-top:250px">

    <center>
        <img src="{% static 'images/logoMarca.png' %}" alt="logomarca" width="120" height="60">
    </center>
    {% include 'msg.html' %}
    <form action="{% url 'login' %}" method="post" style="margin-top:20px">
        {% csrf_token %}
        <div class="mb-3">
            <label class="form-label">Usuário</label>
            <input type="text" class="form-control" name="usuario">
        </div>
        <div class="mb-3">
            <label class="form-label">Senha</label>
            <input type="password" class="form-control" name="senha1">
        </div>
        <center>
            <button type="submit" class="btn btn-primary">Fazer login</button>
            <a class="btn btn-outline-primary" href="{% url 'cadastrar'%} ">Fazer cadastro</a>
        </center>
    </form>
</div>
{% include 'rodape.html' %}
</body>

</html>
{% bootstrap_css %}
{% bootstrap_javascript %}