<!--{% load static %}-->
<!--{% load bootstrap5 %}-->
<!--<link rel="stylesheet" href="{% static 'css/estilo.css' %}">-->
<!--<div class="container">-->
<!--    <div id="produtos1" class="carousel carousel-dark slide" data-bs-ride="carousel">-->
<!--        <div class="carousel-inner">-->
<!--            <div class="carousel-item active">-->
<!--                {% if dados.foto  %}-->
<!--                <div class="card d-inline-block mx-auto" style="width: 18rem;">-->
<!--                    <img src="{{dados.foto.url}}" class="card-img-top" alt="...">-->
<!--                    <div class="card-body">-->
<!--                        <p class="card-text"> {{dados.nome}}</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="card d-inline-block" style="width: 18rem;">-->
<!--                    <img src="{{dados.foto.url}}" class="card-img-top" alt="...">-->
<!--                    <div class="card-body">-->
<!--                        <p class="card-text">{{dados.nome}}</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="card d-inline-block" style="width: 18rem;">-->
<!--                    <img src="{{dados.foto.url}}" class="card-img-top" alt="...">-->
<!--                    <div class="card-body">-->
<!--                        <p class="card-text">{{dados.nome}}</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--                {% endif %}-->
<!--            </div>-->
<!--            <div class="carousel-item">-->
<!--                <div class="card d-inline-block" style="width: 18rem;">-->
<!--                    <img src="{{dados.foto.url}}" class="card-img-top" alt="...">-->
<!--                    <div class="card-body">-->
<!--                        <p class="card-text">{{dados.nome}}</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="card d-inline-block" style="width: 18rem;">-->
<!--                    <img src="{{dados.foto.url}}" class="card-img-top" alt="...">-->
<!--                    <div class="card-body">-->
<!--                        <p class="card-text">{{dados.nome}}</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="card d-inline-block" style="width: 18rem;">-->
<!--                    <img src="{{dados.foto.url}}" class="card-img-top" alt="...">-->
<!--                    <div class="card-body">-->
<!--                        <p class="card-text">{{dados.nome}}</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="carousel-item">-->
<!--                <div class="card d-inline-block" style="width: 18rem;">-->
<!--                    <img src="{{dados.foto.url}}" class="card-img-top" alt="...">-->
<!--                    <div class="card-body">-->
<!--                        <p class="card-text">{{dados.nome}}</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="card d-inline-block" style="width: 18rem;">-->
<!--                    <img src="{{dados.foto.url}}" class="card-img-top" alt="...">-->
<!--                    <div class="card-body">-->
<!--                        <p class="card-text">{{dados.nome}}</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="card d-inline-block" style="width: 18rem;">-->
<!--                    <img src="{{dados.foto.url}}" class="card-img-top" alt="...">-->
<!--                    <div class="card-body">-->
<!--                        <p class="card-text">{{dados.nome}}</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <button class="carousel-control-prev" type="button" data-bs-target="#produtos1"-->
<!--                data-bs-slide="prev">-->
<!--            <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
<!--            <span class="visually-hidden">Previous</span>-->
<!--        </button>-->
<!--        <button class="carousel-control-next" type="button" data-bs-target="#produtos1"-->
<!--                data-bs-slide="next">-->
<!--            <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
<!--            <span class="visually-hidden">Next</span>-->
<!--        </button>-->
<!--    </div>-->
<!--</div>-->

<!--<div class="container">-->
<!--    <div id="produtos2" class="carousel carousel-dark slide" data-bs-ride="carousel">-->
<!--        <div class="carousel-inner">-->
<!--            <div class="carousel-item active">-->
<!--                <div class="card d-inline-block mx-auto" style="width: 18rem;">-->
<!--                    <img src="{% static 'images/logoMarca.png' %}" class="card-img-top" alt="...">-->
<!--                    <div class="card-body">-->
<!--                        <p class="card-text">Some quick example text to build on the card title and make up the bulk-->
<!--                            of the card's content.</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="card d-inline-block" style="width: 18rem;">-->
<!--                    <img src="{% static 'images/logoMarca.png' %}" class="card-img-top" alt="...">-->
<!--                    <div class="card-body">-->
<!--                        <p class="card-text">Some quick example text to build on the card title and make up the bulk-->
<!--                            of the card's content.</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="card d-inline-block" style="width: 18rem;">-->
<!--                    <img src="{% static 'images/logoMarca.png' %}" class="card-img-top" alt="...">-->
<!--                    <div class="card-body">-->
<!--                        <p class="card-text">Some quick example text to build on the card title and make up the bulk-->
<!--                            of the card's content.</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="carousel-item">-->
<!--                <div class="card d-inline-block" style="width: 18rem;">-->
<!--                    <img src="{% static 'images/logoMarca.png' %}" class="card-img-top" alt="...">-->
<!--                    <div class="card-body">-->
<!--                        <p class="card-text">Some quick example text to build on the card title and make up the bulk-->
<!--                            of the card's content.</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="card d-inline-block" style="width: 18rem;">-->
<!--                    <img src="{% static 'images/logoMarca.png' %}" class="card-img-top" alt="...">-->
<!--                    <div class="card-body">-->
<!--                        <p class="card-text">Some quick example text to build on the card title and make up the bulk-->
<!--                            of the card's content.</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="card d-inline-block" style="width: 18rem;">-->
<!--                    <img src="{% static 'images/logoMarca.png' %}" class="card-img-top" alt="...">-->
<!--                    <div class="card-body">-->
<!--                        <p class="card-text">Some quick example text to build on the card title and make up the bulk-->
<!--                            of the card's content.</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="carousel-item">-->
<!--                <div class="card d-inline-block" style="width: 18rem;">-->
<!--                    <img src="{% static 'images/logoMarca.png' %}" class="card-img-top" alt="...">-->
<!--                    <div class="card-body">-->
<!--                        <p class="card-text">Some quick example text to build on the card title and make up the bulk-->
<!--                            of the card's content.</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="card d-inline-block" style="width: 18rem;">-->
<!--                    <img src="{% static 'images/logoMarca.png' %}" class="card-img-top" alt="...">-->
<!--                    <div class="card-body">-->
<!--                        <p class="card-text">Some quick example text to build on the card title and make up the bulk-->
<!--                            of the card's content.</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="card d-inline-block" style="width: 18rem;">-->
<!--                    <img src="{% static 'images/logoMarca.png' %}" class="card-img-top" alt="...">-->
<!--                    <div class="card-body">-->
<!--                        <p class="card-text">Some quick example text to build on the card title and make up the bulk-->
<!--                            of the card's content.</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <button class="carousel-control-prev" type="button" data-bs-target="#produtos2"-->
<!--                data-bs-slide="prev">-->
<!--            <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
<!--            <span class="visually-hidden">Previous</span>-->
<!--        </button>-->
<!--        <button class="carousel-control-next" type="button" data-bs-target="#produtos2"-->
<!--                data-bs-slide="next">-->
<!--            <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
<!--            <span class="visually-hidden">Next</span>-->
<!--        </button>-->
<!--    </div>-->
<!--</div>-->

