{% load bootstrap5 %}
{% load static %}
<footer class="footer fixed-bottom bg-success p-2" style="--bs-bg-opacity: .2;">
    <div class="row cols-4">
        <div class="col" style="padding: 30px; margin-left: 100px;">
            <img src="{% static 'images/logoMarca.png' %}" alt="logomarca" width="120" height="60">
        </div>
        <div class="col">
            <h5>Serviço</h5>
            <ul style="list-style: none; padding: 1px; margin-left: 1px;">
                <li><a href="{% url 'desenvolvedor' %}">Informações</a></li>
            </ul>
        </div>
        <div class="col" style="margin-left: -300px;margin-right: 100px">
            <center>
                <h5>Aceitamos</h5>
            </center>
            <div class="d-flex justify-content-between">
                <img src="{% static 'images/icon_bb.png' %}" alt="logomarca">
                <img src="{% static 'images/icon_itau.png' %}" alt="logomarca">
                <img src="{% static 'images/icon_bradesco.png' %}" alt="logomarca">
                <img src="{% static 'images/icon_mastercard.png' %}" alt="logomarca">
                <img src="{% static 'images/icon_elo.png' %}" alt="logomarca">
                <img src="{% static 'images/icon_hipercard.png' %}" alt="logomarca">
                <img src="{% static 'images/icon_boleto.png' %}" alt="logomarca">
            </div>
        </div>
        <div class="col">
            <h5>Atendimento</h5>
            <ul style="list-style: none; padding: 1px; margin-left: 1px;">
                <li><a href="{% url 'contato' %}">Contato</a></li>
                <li><a href="#">Troca/Devolução</a></li>
            </ul>
        </div>
    </div>
</footer>
{% bootstrap_css %}
{% bootstrap_javascript %}